In [22]:
Select * from "Tags";

Id,Name,UserId,Created
5,test,0,0001-01-01T00:00:00+00:00
6,test,0,0001-01-01T00:00:00+00:00
7,test,1,0001-01-01T00:00:00+00:00
8,test,1,0001-01-01T00:00:00+00:00
9,test,1,0001-01-01T00:00:00+00:00
10,test,1,0001-01-01T00:00:00+00:00
11,test,1,0001-01-01T00:00:00+00:00
12,test,1,0001-01-01T00:00:00+00:00
13,test,1,0001-01-01T00:00:00+00:00
14,test,1,0001-01-01T00:00:00+00:00

In [23]:
select * from "ExpenseTags";

ExpenseEntryId,TagId
103,14