In [4]:
SELECT * from "ReadingEntries";

Id,BookId,PagesRead,Date
2,5,1,2022-07-05T11:57:19.447366-04:00
3,5,3,2022-07-05T13:38:58.781478-04:00

: syntax error at or near "GO"

In [ ]:
SELECT * from "Books";